---
layout: base-layout.hbs
---
<article class="container project">
    <h1 style="margin: 0; padding: 0;">{{ title }}</h1>
    <p style="margin: 0; padding: 0; margin-top: 0.2em; color: #232430; font-size: 0.9em;">
        {{date}}
    </p>
    {{#if image}}
        <img src="{{image}}" alt="{{title}} image" class="header-img" style="margin-top: 1em; margin-bottom: 1em;">
    {{/if}}
    {{#if source}}
        <a href="{{source}}" class="button github">
            <i class="fab fa-github"></i> Source
        </a>
    {{/if}}
    {{#if website}}
        <a href="{{website}}" class="button" style="background-color: #7527c4;">
            <i class="fas fa-link"></i> Demo
        </a>
    {{/if}}
    {{{ content }}}
    {{#if technologies}}
        <p>Technologies used:</p>
        <ul>
            {{#each technologies as | technology |}}
                <li>{{technology}}</li>
            {{/each}}
        </ul>
    {{/if}}
</article>
